PORT=4100
NODE_ENV=development

# Update these with your actual MySQL credentials
DATABASE_URL="mysql://pbitest:Pur3@B!t3st@15.206.20.167:3306/purebi_test"

# Update with your MongoDB credentials
MONGO_URI="mongodb+srv://pbiadmin:ovSXKmMGRdxKffKS@purebidev.nw4zeil.mongodb.net/test"

#JWT
JWT_SECRET="hanifesmat1535"
JWT_EXPIRES_IN="30"
LOG_LEVEL="info"

AUTH_ALLOW_LEGACY_JWT="true"
LEGACY_JWT_SECRET="hanifesmat1535"
AUTH_SESSION_SECRET="hanifesmat1535"
LEGACY_JWT_ISSUER=""
LEGACY_JWT_AUDIENCE=""
AUTH_JWT_CLOCK_SKEW_SEC="30"

#AWS
BUCKET_NAME = reportspbi
AWS_ACCOUNT_ID=853786112788
AWS_ACCESS_KEY_ID=AKIA4NSM6GMKGT5A3J5X
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-south-1

USE_SSM_FOR_GMAIL=true
GMAIL_SSM_BASE_PATH=/purebi/gmail
GMAIL_USER=noreply@pure.bi
GMAIL_APP_PASSWORD=ryzl daww vtsq zosn
GMAIL_SECRET_NAME=purebi/gmail-credentials
PUREBI_LOGO_URL=https://profile-pictures-pbi.s3.ap-south-1.amazonaws.com/pdfs/logo-wwtp.png
APP_URL=https://test.pure.bi

LOGIN_OTP_HASH_SECRET="hanifesmat1535"
INTERNAL_AUTH_BASE_URL=""
INTERNAL_AUTH_API_KEY=""
USE_SSM_FOR_GMAIL="false"


COGNITO_USER_POOL_ID=ap-south-1_J03pnPQis
COGNITO_CLIENT_ID=52phpi857isfskkrujuv82do6

SMS_MOCK_MODE="true"
DISABLE_AUTH=true
AUTH_ALLOW_LEGACY_JWT=true
